<app-header [title]="'Zoom Backgrounds'"></app-header>
<app-body>
  <app-gallery></app-gallery>
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3 class="text-center mt-3">More</h3>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'Donate to Charity'" [icon]="'fa-money'">
        <p>
          Like this free website? Pay it forward to a charity I support.
        </p>
        <a
          class="btn btn-secondary"
          href="https://aoti-app-hub.herokuapp.com/donate"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'Information'" [icon]="'fa-info-circle'">
        <p>
          Just curious about this site? Get more information about this website.
        </p>
        <button class="btn btn-secondary" (click)="goToInfo()">Info</button>
      </app-card>
    </div>
  </div>
</app-body>
